<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/apklk_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/apklk_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habit" >
        <activity
            android:name=".FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedActivity"
            android:exported="false" />
        <activity
            android:name=".splashscreen2"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true" />
        <activity
            android:name=".calendarend"
            android:exported="true" />
        <activity
            android:name=".calendar"
            android:exported="true" />
        <activity
            android:name=".tutorial_3emailpassword"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial_6time"
            android:exported="true" />
        <activity
            android:name=".tutorial_5freq"
            android:exported="true" />
        <activity
            android:name=".tutorial_4habit"
            android:exported="true" />
        <activity
            android:name=".addHabit"
            android:exported="false" />
        <activity
            android:name=".tutorial_2usern"
            android:exported="true" />
        <activity
            android:name=".editHabit"
            android:exported="false" />
        <activity
            android:name=".HabitListActivity"
            android:exported="false" />
        <activity
            android:name=".tutorial_1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>